@using mvc_todolist.ModelViews
@model PersonViewModel

@{
    ViewData["Title"] = LabelsResource.DetailPersonTitle;
}
<h2>@LabelsResource.DetailPersonTitle</h2>

<div>
    <input readonly type="hidden" id="Id" name="Id" value="@Model.Id" />
</div>

<div class="mb-3">
    <label for="Username" class="form-label">@LabelsResource.UsernameTitleColumn</label>
    <input readonly type="text" class="form-control" id="Username" name="Username" value="@Model.Username" />
    <span class="text-danger"></span>
</div>

<div class="mb-3">
    <label for="FirstName" class="form-label">@LabelsResource.FirstNameTitleColumn</label>
    <input readonly type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName" />
    <span class="text-danger"></span>
</div>

<div class="mb-3">
    <label for="LastName" class="form-label">@LabelsResource.FirstNameTitleColumn</label>
    <input readonly type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName" />
    <span class="text-danger"></span>
</div>

<div class="mb-3">
    <label for="Address" class="form-label">@LabelsResource.AddressTitleColumn</label>
    <input readonly type="text" class="form-control" id="Address" name="Address" value="@Model.Address" />
    <span class="text-danger"></span>
</div>

<div class="mb-3">
    <label for="Gender" class="form-label">@LabelsResource.GenderTitleColumn</label>
    <select class="form-control" id="Gender" name="Gender">
        <option value="0" selected="@(Model.Gender == 0)">@LabelsResource.Male</option>
        <option value="1" selected="@(Model.Gender == 1)">@LabelsResource.Female</option>
        <option value="2" selected="@(Model.Gender == 2)">@LabelsResource.OtherGender</option>
    </select>
    <span class="text-danger"></span>
</div>

<div class="mb-3">
    <label for="DateOfBirth" class="form-label">@LabelsResource.DateOfBirthTitleColumn</label>
    <input readonly type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" 
           value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" />
    <span class="text-danger"></span>
</div>
<div class="mb-3">
    <label class="form-label">Graduated</label>
    <i class="@(Model.Graduated
        ? "bi bi-check-square-fill text-success"
        : "bi bi-x-square-fill text-danger")"></i>
</div>
<div class="text-center">
    <a class="btn btn-danger btn-sm" asp-action="Remove" asp-route-id="@Model.Id">
        <i class="bi bi-trash"></i> @LabelsResource.DeleteButtonTxt
    </a>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}