@using mvc_todolist.ModelViews
@model PersonViewModel
@{
    ViewData["Title"] = @LabelsResource.CreateNewPersonTitle;
}
<div class="container d-flex justify-content-center mt-5">
    <div class="col-md-6">
        <h2>@LabelsResource.CreateNewPersonTitle</h2>

        <form asp-action="CreatePerson" method="post">
            <div>
                <label asp-for="Username">@LabelsResource.UsernameTitleColumn</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">@LabelsResource.UsernameTitleColumn</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="FirstName">@LabelsResource.FirstNameTitleColumn</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="LastName">@LabelsResource.LastnameTitleColumn</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Address">@LabelsResource.AddressTitleColumn</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Gender">@LabelsResource.GenderTitleColumn</label>
                <select asp-for="Gender" class="form-control">
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                    <option value="2">Other</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="DateOfBirth">@LabelsResource.DateOfBirthTitleColumn</label>
                <input asp-for="DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="Graduated" class="form-check-input" type="checkbox" />
                <label asp-for="Graduated" class="form-check-label"></label>
            </div>
            
            @Html.Hidden("CreatedAt", DateTime.Now)
            @Html.Hidden("CreatedBy", Guid.NewGuid())
            <br/>
            <button type="submit" class="btn btn-primary">@LabelsResource.CreateButtonTxt</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
